<footer class="footer">&copy; 2018 Orhan. All rights reserved. designed by <a href="http://www.adameveandapple.co.uk/">AdamEve&amp;Apple</a></footer>
</div><!-- End Page wrapper -->
</div><!-- End Wrapper -->
<script src="/Admin/js/lib/jquery/jquery.min.js"></script>
<script src="/Admin/js/lib/bootstrap/js/popper.min.js"></script>
<script src="/Admin/js/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/Admin/js/jquery.slimscroll.js"></script>
<script src="/Admin/js/sidebarmenu.js"></script>
<script src="/Admin/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
<script src="/Admin/js/lib/owl-carousel/owl.carousel.min.js"></script>
<script src="/Admin/js/lib/chartist/chartist.min.js"></script>
<script src="/Admin/js/custom.min.js"></script>
