<style>
.dropdown:hover .dropdown-content { display: block; }
</style>
<div class="header">
  <div class="w3layouts_header_right">
    <ul>
      <li><i class="fa fa-phone" aria-hidden="true"></i>07831195979</li>
      <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@orhan.org.uk">info@orhan.org.uk</a></li>
    </ul>
  </div>
</div>
<div class="top_heder_agile_info">
  <div class="w3ls_agile_header_inner">
    <nav class="navbar navbar-default">
      <div class="navbar-header navbar-left">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1><a class="navbar-brand" href="/"><img style="width:25%;float:left;" src="/images/ORHAN LOGO.jpg" alt="ORHAN" /></a></h1>
      </div>
      <div class="collapse navbar-collapse" style="float:right;" id="bs-example-navbar-collapse-1">
        <nav class="menu menu--juliet">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
              <ul class="dropdown-menu dropdown-content agile_short_dropdown">
                <li><a href="/About">ABOUT US</a></li>
                <li><a href="/Gallery">GALLERY</a></li>
                <li><a href="/Videos">VIDEOS</a></li>
              </ul>
            </li>
            <li><a href="/News">News</a></li>
            <li><a href="/Trustees">Trustees</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resource<b class="caret"></b></a>
              <ul class="dropdown-menu dropdown-content agile_short_dropdown">
                <li><a href="/Resource">Documents</a></li>
                <li><a href="/Contribution">Contribution</a></li>
                <li><a href="/Bank-Contact">Bank Contact</a></li>
              </ul>
            </li>
            <li><a href="/Contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </nav>
  </div>
</div>
