<div class="banner1"></div>
<div class="grid_3 grid_2 agileinfo">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">About Us</li>
  </ol>
</div>
<div class="content two">
  <div class="container">
    <div class="head-section text-center">
      <h2 class="w3l_header">About ORHAN</h2>
      <p class="quia">Disability is Not Inability</p>
    </div>
    <p>Considering the history of the district, Vavuniya is one of the affected districts, suffered much in the civil war in Sri Lanka. As a result, the number of persons with disabilities proportionately, increased. Furthermore, until 1999, there was neither rehabilitation nor registered non-governmental organizations existed to help the disabled and handicapped community.</p>
    <p>ORHAN was established to fill this gap and provide services for persons with disabilities to have equal rights and opportunities.</p>
  </div>
</div>
