<div class="banner1"></div>
<div class="grid_3 grid_2 agileinfo">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Contribution</li>
  </ol>
</div>
<div class="content two">
  <div class="container">
    <div class="head-section text-center">
      <h2 class="w3l_header">Contribution</h2>
      <p class="quia">Help us make a difference</p>
    </div>
    <div class="well">
      <p>Your contribution helps us provide services and support to persons with disabilities in Vavuniya, Sri Lanka.</p>
      <a href="<%= charityLink %>" target="_blank" class="btn btn-primary btn-lg">Donate Now</a>
    </div>
  </div>
</div>
