<div class="banner1"></div>
<div class="grid_3 grid_2 agileinfo">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Contact</li>
  </ol>
</div>
<div class="content two">
  <div class="container">
    <div class="head-section text-center">
      <h2 class="w3l_header">Contact Us</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Get in Touch</h3>
        <ul>
          <li><i class="fa fa-map-marker"></i> 557 High Road, Wembley, Middlesex, HA0 2DW United Kingdom</li>
          <li><i class="fa fa-envelope"></i> <a href="mailto:info@orhan.org.uk">info@orhan.org.uk</a></li>
          <li><i class="fa fa-phone"></i> 07831195979</li>
        </ul>
      </div>
      <div class="col-md-6">
        <form action="#" method="post">
          <div class="form-group">
            <label>Full Name</label>
            <input type="text" class="form-control" name="name" required>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" required>
          </div>
          <div class="form-group">
            <label>Message</label>
            <textarea class="form-control" name="message" rows="4" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</div>
