<!-- banner -->
<div class="banner-silder">
  <div class="banner">
    <ul><li></li><li></li><li></li></ul>
    <ol></ol>
    <i class="left"></i><i class="right"></i>
    <div class="banner_wthree_agile_info">
      <h2>OUR GOAL</h2>
      <h3>To provide equal opportunities to vulnerable children in Sri Lanka.</h3>
      <a href="<%= charityLink %>" target="_blank" class="btn btn-primary">Donate Here</a>
    </div>
  </div>
</div>

<div class="popular-section-wthree">
  <div class="container">
    <div class="wthree-heading">
      <h2 class="w3l_header">About us</h2>
      <p class="quia">Disability is Not Inability</p>
    </div>
    <p class="bui">Considering the history of the district, Vavuniya is one of the affected districts, suffered much in the civil war in Sri Lanka. As a result, the number of persons with disabilities proportionately, increased.</p>
    <div class="popular-agileinfo">
      <div class="col-md-4 popular-grid">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <h4>Our Mission</h4>
        <p>Provide services for personal with disabilities to have equal right and opportunities with their active participation on the concept of "Disability is Not Inability"</p>
      </div>
      <div class="col-md-4 popular-grid popular-grid-bottom">
        <i class="fa fa-square-o" aria-hidden="true"></i>
        <h4>Our Vision</h4>
        <p>Equal right and equal opportunities for persons with disabilities through barrier free society</p>
      </div>
      <div class="col-md-4 popular-grid">
        <i class="fa fa-building" aria-hidden="true"></i>
        <h4>Our Objective</h4>
        <p>Our over all goal is achieving equal rights, equal opportunities and equal participation of the persons with disabilities in order to make them equal citizens.</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="banner-bottom mid-section-agileits">
  <div class="col-md-7 bannerbottomleft"></div>
  <div class="col-md-5 bannerbottomright">
    <h2 style="color:white;" class="w3l_header">DONATE</h2>
    <p style="color:white;" class="quia">For a best and good cause</p>
    <p style="color:white;"><i class="fa fa-quote-left" aria-hidden="true"></i>Giving is not just about make a donation, it's about making a difference!<i class="fa fa-quote-right" aria-hidden="true"></i></p>
    <a href="<%= charityLink %>" target="_blank" class="btn btn-primary">To Donate Click Here</a>
  </div>
  <div class="clearfix"></div>
</div>

<div class="feedback">
  <div class="container">
    <div class="wthree-heading feedback-heading">
      <h3 class="w3l_header two">WE NEED YOUR HELP!</h3>
      <p class="quia">We need your help to support these vulnerable children of Puthuvalvupoonga in srilanka.</p>
    </div>
    <div class="col-md-8 agile_footer_grid">
      <div class="feedback-info">
        <div class="feedback-top">
          <p>We need your help to support these vulnerable children of Puthuvalvupoonga, a school with specialised teachers in vavuniya, Sri Lanka.<br><br>
          Every contribution to our Charity will be used to educate and build a better life for these children.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 agile_footer_grid">
      <div class="contact-agileits">
        <h2 style="color:white">Let us know you are available</h2>
        <form action="#" method="post" class="horizontal">
          <div class="form-group">
            <label style="color:white">Full Name:</label>
            <input type="text" class="form-control" name="name" required>
          </div>
          <div class="form-group">
            <label style="color:white">Email Address:</label>
            <input type="email" class="form-control" name="email" required>
          </div>
          <div class="form-group">
            <label style="color:white">Phone Number:</label>
            <input type="tel" class="form-control" name="phone" required>
          </div>
          <button type="submit" class="btn btn-primary">Send <i class="fa fa-caret-right"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
